html, body {
    font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "Sawarabi Mincho", "ＭＳ Ｐ明朝", "MS PMincho", "HGS明朝E", serif !important;
    font-weight: 400;
    font-style: normal;
    background-color: #fff;
    color: #4E4E4E;
    min-height: 100%;
    max-width: 100vw;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem !important;
    font-weight: 400;
    line-height: 1.5 !important;
    color: #212529 !important;
    text-align: left;
    background-color: #fff;
}


// header-img
.navbars .side-left .logo-top img.main-logo {
    width: 7.625rem;
}
//

.navbars .side-right .menu-list li {
    border-left: 1px solid #EBEBEB;
}


a, a:hover, a:active {
    color: inherit;
    text-decoration: none;
}

.navbars .side-right .menu-list li a:hover i {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.navbars .side-right .menu-list li a i {
    display: block;
    font-size: 1.5rem;
    line-height: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    transition: 0.5s transform cubic-bezier(0.19, 1, 0.22, 1);
}

[data-icon], [class^="icon-"], [class*=" icon-"] {
    font-family: "ichijou-icons";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    vertical-align: middle;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}


.navbars .side-right .menu-bar {
    padding: 1rem 3rem;
    background: #3B3B3B;
    color: #FFFFFF !important;
    text-transform: uppercase !important;
    font-size: 0.75rem !important;
    text-align: center !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    padding-bottom: 2.1875rem;
}

.icon-camera:before {
    content: '\e242';
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "reform-icons-new";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: auto;
    margin-right: 0.2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: 0.2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.navbars .side-right .menu-list li a span {
    line-height: 1.7;
    font-size: 12px;
}

.navbars .side-right .menu-list li a {
    display: inline-block;
    padding: 1.5rem 1.5rem;
    text-align: center;
    display: flex;
    flex-flow: column;
}

.icon-header {
    text-decoration: none;
    font-size: 32px;
}


.navbars {
    position: fixed;
    width: 100%;
    box-shadow: 0 3px 6px -1px #00000029;
    top: 0;
    z-index: 9;
    background: rgba(255, 255, 255, 0.9);
}

.container-full {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.navbars .side-left {
    padding-left: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-line-pack: center;
    align-content: center;
}

.navbars .side-left .logo-top {
    display: inline-block;
}

.navbars .side-left .logo-top img.main-logo {
    width: 7.625rem;
}

.navbars .side-left .logo-top img.reform-logo {
    width: 10.625rem;
    padding-left: 1.5rem;
}

.navbars .side-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-line-pack: center;
    align-content: center;
}

.navbars .side-right .menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.d-none {
    display: none!important;
}

.navbars .side-right .menu-bar span.bars {
    display: block;
    width: 2.8125rem;
    height: 1px;
    background: #FFFFFF;
}

.navbars .side-right .menu-bar span.bars:nth-of-type(2) {
    margin: 0.625rem 0 !important;
    transition: 0.3s all ease !important;
}

.navbars .side-right .menu-bar span.title {
    display: block;
    padding-top: 0.3125rem;
    position: absolute;
    bottom: 0.9375rem;
}

.navbar-menu {
    position: fixed;
    top: 0;
    left: 150%;
    bottom: 0;
    width: 100%;
    opacity: 0;
    transition: 600ms all cubic-bezier(0.19, 1, 0.22, 1);
    z-index: 91;
}

.pointer-events-auto, .pe-auto {
    pointer-events: auto !important;
}

.navbar-menu .logo-menu-sidebar {
    position: absolute;
    z-index: 9;
    padding: 1.5rem 3rem 0;
}

img {
    vertical-align: middle;
    border-style: none;
}

.menu-grand-top {
    position: relative;
    display: block;
}

.h-100 {
    height: 100%!important;
}

.navbars .side-right .menu-bar {
    padding: 1rem 3rem;
    background: #3B3B3B;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 0.75rem;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    padding-bottom: 2.1875rem;
}

.menu-grand-top img.bg {
    width: calc(100% - 18rem);
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.navbar-menu .sidebar-menu {
    width: 18rem;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background: #fff;
    z-index: 91;
}

.navbar-menu .sidebar-menu .menu-close {
    position: relative;
    text-align: right;
    padding: 2.875rem 2.625rem 3.875rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.d-block {
    display: block!important;
}

.navbar-menu .sidebar-menu .menu-close .logo-sp-sidebar {
    height: 2.75rem;
}

.position-relative {
    position: relative!important;
}



.navbar-menu .sidebar-menu .menu-list {
    padding: 0;
    list-style-type: none;
    margin-bottom: 0;
    text-align: right;
}

.navbar-menu .sidebar-menu .menu-list li.active {
    background: #F7F7F7;
}

.navbar-menu .sidebar-menu .menu-list li {
    position: relative;
    padding: 0.5rem 0;
    padding-right: 3rem;
    color: #666666;
    transition: 400ms all cubic-bezier(0.19, 1, 0.22, 1);
}



@media (min-width: 992px) {
    .d-lg-flex {
        display: -ms-flexbox!important;
        display: flex!important;
    }
}

@media (min-width: 992px) {
    .d-lg-block {
        display: block!important;
    }

    .d-lg-none {
        display: none!important;
    }
}

.banner-fixed-right {
    position: fixed;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 3;
}
@media (max-width: 991.98px) {
    .banner-fixed-right {
        display: none;
    }
}
.banner-fixed-right a {
    cursor: pointer;
    position: relative;
}
.banner-fixed-right a .border-x {
    position: absolute;
    left: 0;
    top: -0.3125rem;
    width: 3.25rem;
    height: 0.25rem;
    margin-top: 0.125rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #fff;
}
.banner-fixed-right a .border-x .red {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: #C9161D;
}
.banner-fixed-right a .border-x .green {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: #0C8A3E;
}
.banner-fixed-right a.url-1 {
    padding: 1rem 1.125rem;
    display: block;
    text-align: center;
    background: #E89095;
    color: #fff;
    font-size: 0.875rem;
}
.banner-fixed-right a.url-1:hover {
    background: rgba(232, 144, 149, 0.8);
}
.banner-fixed-right a.url-2 {
    padding: 1rem 1.125rem;
    display: block;
    text-align: center;
    background: #BBA75C;
    color: #fff;
    font-size: 0.875rem;
    border-top: 1px solid #fff;
}
.banner-fixed-right a.url-2:hover {
    background: rgba(187, 167, 92, 0.8);
}

.navbar-menu.menu-show {
    opacity: 1;
    left: 0;
}

.navbar-menu .sidebar-menu .btn-ig {
    text-align: center;
    position: absolute;
    bottom: 2.625rem;
    left: 50%;
    width: 16rem;
    margin: 0 auto;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn-contruction {
    color: #fff !important;
    background-color: #BBA75C !important;
    position: relative;
    padding: 1rem 0 !important;
    height: auto !important;
    font-weight: normal !important;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    border: 1px solid transparent !important;
}
.btn-contruction:hover {
    color: #BBA75C !important;
    background-color: #fff !important;
    position: relative;
    padding: 1rem 0 !important;
    height: auto !important;
    font-weight: normal !important;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    border: 1px solid #BBA75C !important;
}

.btn-wide {
    width: 21.875rem;
    max-width: 100%;
}

.btn {
    outline: 0;
    height: 3rem;
    background-color: #fff;
    font-size: 1rem;
    line-height: 1rem;
    padding: 0.75rem 1.25rem;
    font-weight: bold;
    border-radius: 2px;
    overflow: hidden;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-contruction span {
    vertical-align: top;
}

.btn > * {
    display: inline-block;
    vertical-align: middle;
}

.btn-contruction.caret:after {
    position: absolute;
    right: 1rem;
    top: 50%;
    content: "＞";
    font-family: "ichijou-icons";
    display: inline-block;
    vertical-align: middle;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    transition: right 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}


.navbar-menu .sidebar-menu .copyright {
    position: absolute;
    bottom: 0.5rem;
    font-size: 0.625rem;
    text-align: center;
    width: 100%;
    color: #666;
}

.navbar-menu .sidebar-menu .menu-close a span {
    opacity: 0;
    color: #666;
    font-size: 0.75rem;
    text-transform: uppercase;
    -webkit-transform: translateX(2rem);
    transform: translateX(2rem);
    transition: 400ms all cubic-bezier(0.19, 1, 0.22, 1);
}

.menu-item:hover {
    background-color: #F7F7F7;
}

.menu-item a {
    text-decoration: none;
}


.btn-contruction:hover {
    border: 1px solid #BBA75C;
    background: #fff;
    color: #BBA75C;
    box-shadow: 0px 6px 5px 0px #00000029 !important;
}
.btn-contruction:hover.caret:after {
    right: 0.625rem;
}

////////////////////////

.btn-link-page .link-row:hover a .btn-content .image-cover img {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

@media (min-width: 992px) {
    .btn-group-toggle > .btn.btn-default:not(:disabled):hover, .btn-group-toggle > .btn.btn-default:not(.disabled):hover {
        color: #fff;
        background-color: #DE8E17;
        -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
    }
    .btn-group-toggle > .btn.btn-default:not(:disabled):hover .icon, .btn-group-toggle > .btn.btn-default:not(.disabled):hover .icon {
        color: #fff;
    }
}

.navbars .side-right .menu-bar:hover {
    background: rgba(59, 59, 59, 0.9);
}

.navbar-menu .sidebar-menu .menu-close a:hover span {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.navbar-menu .sidebar-menu .menu-close a {
    display: inline-block;
    width: 6rem;
    height: 2.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}


.navbar-menu .sidebar-menu .menu-list li.active:after {
    content: "";
    position: absolute !important;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 2rem;
    height: 1px;
    background: #707070;
    opacity: 1;
}
.navbar-menu .sidebar-menu .menu-list li:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 2rem;
    height: 1px;
    background: #707070;
    opacity: 0;
    transition: 600ms all cubic-bezier(0.19, 1, 0.22, 1);
}
.navbar-menu .sidebar-menu .menu-list li:hover::after {
    opacity: 1;
}
